.register {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://images.pexels.com/photos/733854/pexels-photo-733854.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

.registerTitle {
  font-size: 30px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 5px;
}

.registerButton {
  margin: 20px 0;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
