@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
.nav {
  width: 100%;
  height: 50px;
  background-color: #fdfdfd;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.5rem 0rem;
}
.clear {
  clear: both;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  /* background-color: #283b8b; */
  background-color: #666;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  /* background-color: #2642af; */
  background-color: #444;
}


.navLeft,
.navRight {
  /* flex: 3; */
  flex-basis: 20%;
  /* background-color: burlywood; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navRight img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.navCenter {
  flex-basis: 60%;
  /* flex: 6; */
  /* background-color: cadetblue; */
}

.navList {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.navListItem {
  /* flex: 3; */
  margin-right: 20px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  color: #444;
  font-weight: 300;
  font-size: 18px;
}

.navMediaIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

/* .navSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
  list-style: none;
} */

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
@media (max-width:500px) {
  .hamburger {
    display: block;
  }

  .nav{
    /* flex-direction: column; */
  }
}

